@font-face {
  font-family: Halter;
  src: url(../assets/Halter.woff);
}

html {
  font-size: 16px;
  color: #666;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.heading {
  padding: 0 1rem;
  text-align: left;
  border-left: .5rem solid #666;
  margin: 4rem 1rem 1rem;
  font-weight: normal;
  font-size: 1.8rem;
}

.link {
  color: #0A9AB5;
  cursor: pointer;
  transition: .3s color;
  &:hover {
    color: #007B92;
  }
}

.notice {
  margin: 30px 0;
}

.card {
  border-radius: 15px;
  height: 240px;
  width: 388px;
  background: #e2e2e2;
  border: #808080;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #999;
  transition: .6s background-color, .6s color;
  overflow: hidden;
}

.number {
  height: 36px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  box-sizing: border-box;
  font-size: 1.1rem;
  padding: .5rem 1rem;
  font-family: 'Halter';
  outline: none;
  background: rgba(255, 255,255, .2);
  border: none;
  border-radius: 5px;
  color: inherit;
}

.type,
.bank-name {
  height: 4rem;
  line-height: 4rem;
  margin: 0;
  text-transform: uppercase;
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
  color: inherit;
}

.type,
.bank-name,
.hint {
  opacity: 0;
  transition: .4s opacity;
  &.visible {
    opacity: 1;
  }
}

.bank-name {
  text-align: left;
  padding-top: 1rem
}

.type {
  align-self: flex-end;
  text-align: right;
}

.hint {
  margin-top: 2rem;
  text-align: center;

  &__text {
    margin: 0;
    line-height: 1.5em;
  }
}

@banks-db-template {
  .card.is-%country%-%name% {
    background-color: %color%;
    color: contrast(%color%);
  }
}
